Importing numpy, pandas and matplotlib

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
%pylab inline
pylab.rcParams['figure.figsize'] = (12,12)

Populating the interactive namespace from numpy and matplotlib

/anaconda/lib/python3.6/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['plt']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

Loadings the files:
1. quant_scores = stock quant scores
2. total_returns = stock total returns
3. index_wts = stock index weights over time
4. index_return = return of the index

In [53]:
dfqs = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//quant_scores.csv', index_col = 0, parse_dates=True)
dftr = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//total_returns.csv', index_col = 0, parse_dates=True)
dfindwt = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//index_wts.csv', index_col = 0, parse_dates=True)
dfpsei = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//pcomp_return.csv', index_col = 0, parse_dates=True)

Checking the relationship of scores to forward performance of the stock.

I am going to do this by checking the regression line of performance versus the score.

In [49]:
def convert_to_pricelevel(dfinput):
    dfpl = dfinput
    x, y = dfpl.shape
    for a in range(0,x):
        for b in range(0,y):
            if (a==0) & (type(dfpl.loc[dfpl.index[a], dfpl.columns[b]])==np.float64) & (not(np.isnan(dfpl.loc[dfpl.index[a], dfpl.columns[b]]))):
                dfpl.loc[dfpl.index[a], dfpl.columns[b]] = 1.00
            elif ((a+1)<x) & (np.isnan(dfpl.loc[dfpl.index[a], dfpl.columns[b]])) & (type(dfpl.loc[dfpl.index[np.minimum(a+1,x-1)], dfpl.columns[b]])==np.float64) & (not(np.isnan(dfpl.loc[dfpl.index[np.minimum(a+1,x-1)], dfpl.columns[b]]))):
                dfpl.loc[dfpl.index[a], dfpl.columns[b]] = 1.00
            elif np.isnan(dfpl.loc[dfpl.index[a], dfpl.columns[b]]):
                dfpl.loc[dfpl.index[a], dfpl.columns[b]] = np.nan
            elif (type(dfpl.loc[dfpl.index[a], dfpl.columns[b]])==np.float64) & (a>=1):
                dfpl.loc[dfpl.index[a], dfpl.columns[b]] = dfpl.loc[dfpl.index[a-1], dfpl.columns[b]]*(1+(dfpl.loc[dfpl.index[a], dfpl.columns[b]]))
    return dfpl

In [51]:
#transforming the dftr into price levels

dfstockpl = convert_to_pricelevel(dftr/100)
dfstockpl.head(5)

,BCI,ION,ICT,URC,UBP,SMCB,ABS,FLI,RLC,EEI,...,RCB,VLL,GMA7,PSE,CHIB,CEB,SMDC,BLOOM,LTG,EMP
36922,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,NaN,NaN,NaN,1.000000,NaN,1.000000,NaN,1.0000,NaN
36950,1.061224,0.838710,0.876712,0.916667,0.812500,0.940000,0.989583,1.018519,1.028571,0.912281,...,1.055556,NaN,NaN,NaN,0.906667,NaN,1.011111,NaN,1.1200,NaN
36981,1.061224,0.741935,0.712329,0.750000,0.781250,0.803419,0.875000,0.711112,0.952381,0.631579,...,0.925926,NaN,NaN,NaN,0.826667,NaN,0.888889,NaN,1.2544,NaN
37011,1.040816,0.758064,0.780822,0.750000,0.828125,0.779316,0.762501,0.696297,0.881834,0.666667,...,0.812216,NaN,NaN,NaN,0.800001,NaN,0.944444,NaN,1.2544,NaN
37042,1.020407,0.741935,1.520547,0.750000,0.786250,0.825915,0.804862,0.770371,0.881834,0.701756,...,0.828460,NaN,NaN,NaN,0.906667,NaN,0.933333,NaN,1.4560,NaN

In [54]:
#transforming the psei into price levels

dfpseipl =  convert_to_pricelevel(dfpsei)
dfpseipl.head(5)

       PCOMP TR  PCOMP Price
36922  1.000000     1.000000
36950  0.956997     0.956426
36980  0.859226     0.857380
37011  0.819519     0.817333
37042  0.835018     0.831233

Creating the x month return dataframe function

In [23]:
def x_monthforwardreturn(x, dfinput):
    dfinput_x = dfinput.shift(int(x))
    dfret_x = dfinput_x/dfinput - 1
    return dfret_x

Applying function to the dataframe (3 month forward return below)

In [70]:
dfstockplret_3m = x_monthforwardreturn(3, dfstockpl)
print (dfstockplret_3m.shape)
dfstockplret_3m.head(5)

(192, 76)

,BCI,ION,ICT,URC,UBP,SMCB,ABS,FLI,RLC,EEI,...,RCB,VLL,GMA7,PSE,CHIB,CEB,SMDC,BLOOM,LTG,EMP
36922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37011,-0.039215,0.319149,0.280702,0.333333,0.207548,0.283176,0.311475,0.436169,0.1340,0.499998,...,0.231199,NaN,NaN,NaN,2.499991e-01,NaN,0.058824,NaN,-0.202806,NaN
37042,0.040000,0.130436,-0.423423,0.222222,0.033387,0.138132,0.229506,0.322115,0.1664,0.299998,...,0.274118,NaN,NaN,NaN,-9.512956e-08,NaN,0.083334,NaN,-0.230769,NaN

In [58]:
dfpseiTRpl = pd.DataFrame(dfpseipl['PCOMP TR'])
dfpseiTRpl.head(5)

       PCOMP TR
36922  1.000000
36950  0.956997
36980  0.859226
37011  0.819519
37042  0.835018

In [69]:
dfpseiTR_3m = x_monthforwardreturn(3, dfpseiTRpl)
print (dfpseiTR_3m.shape)
dfpseiTR_3m.head(5)

(192, 1)

       PCOMP TR
36922       NaN
36950       NaN
36980       NaN
37011  0.220228
37042  0.146080

Subtracting the columns to the price return of PCOMP

In [93]:
#rounding to 6 digits
dfstockplret_3m = round(dfstockplret_3m,6)
dfpseiTR_3m = round(dfpseiTR_3m,6)

#converting dfpseiTR_3m into a series so that I can subtract it from the dataframe of stock 3m forward returns
tempSeries = [x for x in dfpseiTR_3m['PCOMP TR']]
tempSeries

dfoutperf_3m = dfstockplret_3m.sub(tempSeries, axis=0)
print (dfoutperf_3m.shape)
dfoutperf_3m.head(5)

(192, 76)

,BCI,ION,ICT,URC,UBP,SMCB,ABS,FLI,RLC,EEI,...,RCB,VLL,GMA7,PSE,CHIB,CEB,SMDC,BLOOM,LTG,EMP
36922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37011,-0.259443,0.098921,0.060474,0.113105,-0.012680,0.062948,0.091246,0.215941,-0.086228,0.279770,...,0.010971,NaN,NaN,NaN,0.029771,NaN,-0.161404,NaN,-0.423034,NaN
37042,-0.106080,-0.015644,-0.569503,0.076142,-0.112693,-0.007948,0.083426,0.176035,0.020320,0.153918,...,0.128038,NaN,NaN,NaN,-0.146080,NaN,-0.062746,NaN,-0.376849,NaN

In [142]:
dfqs.head(5)

,BCI,ION,ICT,URC,UBP,SMCB,ABS,FLI,RLC,EEI,...,RCB,VLL,GMA7,PSE,CHIB,CEB,SMDC,BLOOM,LTG,EMP
36922,NaN,-0.062443,-0.053796,0.307173,0.196642,0.516090,-0.406294,-0.482474,NaN,NaN,...,NaN,0.307173,NaN,NaN,NaN,NaN,0.516090,NaN,NaN,NaN
36950,NaN,-0.035469,-0.050858,0.196175,0.275168,-0.364142,-0.229654,-0.417662,NaN,NaN,...,NaN,0.196175,NaN,NaN,NaN,NaN,-0.364142,NaN,NaN,NaN
36981,NaN,0.258605,0.328888,-0.095036,-0.132697,0.055743,0.147378,0.116802,NaN,NaN,...,NaN,-0.095036,NaN,NaN,NaN,NaN,0.055743,NaN,NaN,NaN
37011,NaN,0.382619,0.074050,-0.842184,-0.392563,0.369888,0.301919,0.543440,NaN,NaN,...,NaN,-0.842184,NaN,NaN,NaN,NaN,0.369888,NaN,NaN,NaN
37042,NaN,-0.540034,0.028212,0.086328,0.624103,0.287636,0.212853,-0.094265,NaN,NaN,...,NaN,0.086328,NaN,NaN,NaN,NaN,0.287636,NaN,NaN,NaN

In [168]:
dfqs_perf = pd.DataFrame(columns=['Date', 'Stock','Quant Score', 'Performance'])

x, y = dfqs.shape
for a in range(0,192):
    for b in range(0,76):
        w = dfqs.index[int(a)]
        x = dfqs.columns[int(b)]
        y = dfqs.loc[dfqs.index[int(a)], dfqs.columns[int(b)]]
        z = dfoutperf_3m.loc[dfqs.index[int(a)], dfqs.columns[int(b)]]
        dftemp = pd.DataFrame([[w, x, y, z]], columns=['Date', 'Stock','Quant Score', 'Performance'])
        dfqs_perf = dfqs_perf.append(dftemp, ignore_index=True)

dfqs_perf.head(5)

    Date Stock  Quant Score  Performance
0  36922   BCI          NaN          NaN
1  36922   ION    -0.062443          NaN
2  36922   ICT    -0.053796          NaN
3  36922   URC     0.307173          NaN
4  36922   UBP     0.196642          NaN

In [177]:
#delete all rows with NaN
dfqs_perf_no_nan = dfqs_perf.dropna(axis=0,how='any')
dfqs_perf_no_nan.head(5)

      Date Stock  Quant Score  Performance
229  37011   ION     0.382619     0.098921
230  37011   ICT     0.074050     0.060474
231  37011   URC    -0.842184     0.113105
232  37011   UBP    -0.392563    -0.012680
233  37011  SMCB     0.369888     0.062948

In [178]:
#export to csv

dfqs_perf_no_nan.to_csv('//Users//Jamie//Documents//Jupyter Notebook Files//dfqs_perf_no_nan.csv')

Creating the scatter plot and linear regression fit on Quant scores vs 3 month performance

In [7]:
dfqs_perf_no_nan = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//dfqs_perf_no_nan.csv')
dftest = dfqs_perf_no_nan.loc[1:200]
dftest.head(5)

   Unnamed: 0   Date Stock  Quant Score  Performance
1         230  37011   ICT     0.074050     0.060474
2         231  37011   URC    -0.842184     0.113105
3         232  37011   UBP    -0.392563    -0.012680
4         233  37011  SMCB     0.369888     0.062948
5         234  37011   ABS     0.301919     0.091246

In [6]:
#fig = plt.figure()
#ax1 = fig.addsubplot(111)
#ax1.scatter(dftest['Quant Score'], dftest['Performance'], s=0)

#plt.show()

   Unnamed: 0   Date Stock  Quant Score  Performance
1         230  37011   ICT     0.074050     0.060474
2         231  37011   URC    -0.842184     0.113105
3         232  37011   UBP    -0.392563    -0.012680
4         233  37011  SMCB     0.369888     0.062948
5         234  37011   ABS     0.301919     0.091246